/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100vh;
}

main {
    overflow-y: scroll;
    background-image: url(../img/screen.gif); /* Source: https://tofupixel.tumblr.com/post/692129633813037057/commissioned-work-for-a-streamers-starting-soon */
    background-size: cover;
    background-position: bottom;
    width: 75%;
    height: 55%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 10vh;
    vertical-align: middle;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

ul {
    list-style-type: none;
    border: 3px solid white;
    border-radius: 20px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .5);
    margin: 3rem 2rem;
}

li {
    margin: .5rem 0;
}